body {
    font-family: "Montserrat", sans-serif;
    background-color: rgba(159, 234, 227, 0.26);
    margin: 0px;
}

/*
*
*
<------------------------------------Layout Page------------------------------------>
*
*
*/
.container-of-all {
    display: flex;
    justify-content: center;
}
footer {
    width: 100vw;
    position: fixed;
    display: flex;
    bottom: 20px;
    justify-content: center;
}
.footer-link-container {
    align-self: center;
    text-align: center;
    width: 200px;
}
.footer-link-container > a {
    width: 25px;
}
.footer-link-container > a > img {
    width: 25px;
}
.footer-link-container > a > img:hover {
    transform: scale(1.2);
}
/*
*
*
<------------------------------------ Navbar ------------------------------------>
*
*
*/
.hidden {
    display: none;
}
.navbar-container {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.navbar {
    width: 350px;
    display: flex;
    justify-content: space-evenly;
}
.navbar > a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.navbar > a:hover {
    border-bottom: 1px solid black;
}

.navbar-container > form > .logoutBtn {
    align-self: center;
    width: 70px;
    height: 25px;
    border-radius: 10px;
    border: none;
    background: rgba(255, 220, 124, 0.87);
}
/*
*
*
<------------------------------------Register/Login Form Page------------------------------------>
*
*
*/
.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: rgba(255, 220, 124, 0.87);
    border-radius: 10px;
    margin-top: 60px;
    padding-top: 10px;
    width: 350px;
    box-shadow: 10px 10px 15px rgba(136, 136, 136, 0.61);
}
.form-group > label {
    padding-left: 10px;
    width: 80%;
    align-self: center;
    padding: 5px;
}

.form-group > input {
    border: none;
    padding-left: 10px;
    width: 70%;
    align-self: center;
    height: 25px;
    margin: 5px;
}
.form-group > input:focus {
    outline: 1px solid orange;
    transform: scale(1.1);
}
.form-group > input::placeholder {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
}
.form-group > button {
    align-self: center;
    width: 70px;
    height: 25px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    background: rgba(255, 220, 124, 0.87);
}
.form-group > button:hover {
    transform: scale(1.1);
    border: 1px solid black;
    background: rgba(255, 220, 124, 0.945);
}
.form-group > p {
    text-align: center;
    font-size: 13px;
}

.form-group > div {
    padding: 4px;
    width: 70%;
    align-self: center;
}

.form-group > div > .terms-text {
    display: inline;
    font-size: 12px;
}
/*
*
*
<------------------------------------ Home Page ------------------------------------>
*
*
*/
.form-container {
    padding: 25px;
    margin-top: 60px;
    background: rgba(255, 220, 124, 0.87);
    box-shadow: 10px 10px 15px rgba(136, 136, 136, 0.61);
    border-radius: 10px;
}
#map {
    width: 350px;
    height: 350px;
    border-radius: 3px;
}
.form-container > p {
    width: 350px;
    text-align: justify;
}
.form-container > .name {
    font-weight: bold;
}
